/* banner page */
.content-container{
    background-color: #1400FF10;
    padding: 0px 400px;
}
.header-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-content{
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.text-content h1, h3{
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1E1E1E;
    font-size: 2.2rem;
    letter-spacing: 2px;
}
.text-content span{
    color: #3E46FF;
    font-weight: 600;
}
.text-content p{
    font-family: poppins;
    color: #525252;
    font-weight: 500;
    font-size: 15;
    text-align: justify;
}
.portfolio{
    margin-left: 10px;
}
.contact,
.portfolio{
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}
.contact{
    background-color: #3E46FF;
    color: white;
}
.portfolio{
    border: solid 1px #3E46FF;
    background-color: transparent;
}

.img-content img{
    max-height: 450px;
    max-width: 450px;
    padding: 0;
}


/* About page */
.about-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 8rem;
}
.about-img{
    border-radius: 50%;
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 2px 13px -3px rgba(96,96,96,0.75);
    -webkit-box-shadow: 0px 2px 13px -3px rgba(96,96,96,0.75);
    -moz-box-shadow: 0px 2px 13px -3px rgba(96,96,96,0.75);
}
.about-img img{
    width: 100%;
    height: 100%;

}
.about-txt{
    padding: 0px 10rem;
    width: 60%;
}
.about-txt p{
    color: #525252;
    text-align: justify;
}
.resume{
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #3E46FF;
    color: white;
}